<nav class="navbar navbar-fixed-top navbar-light pic">
    <div class="row">
  <figure class="figure">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL7qzo85SQyiD0ZUz_ZLPi0zATBg9D3S3Yf46XscZxpTJ-bsxOw" alt="logo" class="figure-img img-fluid">
    <figcaption class="figure-caption">simple portfolio website</figcaption>
  </figure>
  </div>
  </nav>
  
  <nav class="navbar port">
    <div class="row">
      <!-- <img class="navbar-brand" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL7qzo85SQyiD0ZUz_ZLPi0zATBg9D3S3Yf46XscZxpTJ-bsxOw" alt="logo"> -->
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="#" routerLink="/view" class="nav-link">PORTFOLIO</a></li>
        <li class="nav-item"><a href="#" routerLink="/blog" class="nav-link">BLOG</a></li>
        <li class="nav-item"><a href="#" routerLink="/about" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="#"  routerLink="/contact" class="nav-link">CONTACT</a></li>
      </ul>
    </div>
  </nav>

  <div class="d-flex justify-content-center">
      <div class="row mt-3" style="max-width:700px">
      <div class="card">
          <div class="card-body">
        <div class="card-title">
          <h4 class="ml-3">About</h4>
            <img src="https://getmdl.io/templates/portfolio/images/contact-image.jpg" class="img-width">
           <p class="ml-3">Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.</p>
          <p class="ml-3">Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.</p>
         
          <form class="form ml-5">
            <div>
            <label>Name...</label>
            <input type="text" class="form-control border">
          </div>
          <div>
              <label>Email...</label>
              <input type="email" class="form-control">
            </div>
            <div>
                <label>Name...</label>
                <textarea type="text" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-success mt-2">Submit</button>
          </form>
        </div>
        </div>
      </div>
    </div>
    </div>



    <footer class="page-footer font-small cyan darken-3 mt-3">
        <div class="page-footer">
        <span class="float-left">Simple portfolio website</span>
        <ul class="float-right">
          <li>
            Help
          </li>
          <li>
            Privacy & Terms
            <!-- https://staging-reader.pagewerkz.com/#/stgbl-cw1/login -->
          </li>
        </ul>
       </div>
      </footer>