
<nav class="navbar navbar-fixed-top navbar-light pic">
  <div class="row">
<figure class="figure">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL7qzo85SQyiD0ZUz_ZLPi0zATBg9D3S3Yf46XscZxpTJ-bsxOw" alt="logo" class="figure-img img-fluid">
  <figcaption class="figure-caption">simple portfolio website</figcaption>
</figure>
</div>
</nav>

<nav class="navbar port">
  <div class="row">
    <!-- <img class="navbar-brand" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL7qzo85SQyiD0ZUz_ZLPi0zATBg9D3S3Yf46XscZxpTJ-bsxOw" alt="logo"> -->
    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="https://getmdl.io/templates/portfolio/index.html" class="nav-link">PORTFOLIO</a></li>
      <li class="nav-item"><a href="#" routerLink="/blog" class="nav-link">BLOG</a></li>
      <li class="nav-item"><a href="#" routerLink="/about" class="nav-link">ABOUT</a></li>
      <li class="nav-item"><a href="#"  routerLink="/contact" class="nav-link">CONTACT</a></li>
    </ul>
  </div>
</nav>

<div class="d-flex justify-content-center">


 <div class="row mt-5 ">

<div class="col-md-4">
  <div class="card card-body" style="width: 18rem">
    <img class="card-img-top answer-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaU_QEbey_Put7lOaOVGYbBQKhfFRcT_1HEj_Y-PCfUC9CPIl3">
      <h4 class="card-title">Blog template</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
      <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
   </div>
  </div>


  <div class="col-md-4">
      <div class="card card-body" style="width: 18rem">
        <img class="card-img-top answer-img" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVUxOhIdQjo9Myk-KV_PKwwau9obY0ZAsa6TiFcCO-enkWj9_1xg">
          <h4 class="card-title">Sunt Nulla</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
          <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
       </div>
      </div>

      <div class="col-md-4">
          <div class="card card-body" style="width: 18rem">
            <img class="card-img-top answer-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZLNCO7Kh3zlPx0ZYa3daATosR2UHDI0vcP8sI-RCELgnDtUY0ZQ">
              <h4 class="card-title">Android.com website</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
              <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
           </div>
          </div>
        
  </div>

  
</div>

<div class="d-flex justify-content-center">


    <div class="row mt-3">
   
   <div class="col-md-4">
     <div class="card card-body" style="width: 18rem">
       <img class="card-img-top answer-img" src="https://webthemez.com/wp-content/uploads/2018/12/Bulma-Admin-Dashboard-Template.jpg">
         <h4 class="card-title">Dashboard template</h4>
         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
         <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
      </div>
     </div>
   
   
     <div class="col-md-4">
         <div class="card card-body" style="width: 18rem">
           <img class="card-img-top answer-img" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1omqDWTUru3pa_bNcsJTzOzolYCFI11sXHUQAqLZsbqEMtmc8">
                 <h4 class="card-title">Ex officia laborum</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
                 <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
              </div>
             </div>


             <div class="col-md-4">
              <div class="card card-body" style="width: 18rem">
                <img class="card-img-top answer-img" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1omqDWTUru3pa_bNcsJTzOzolYCFI11sXHUQAqLZsbqEMtmc8">
                      <h4 class="card-title">Ex officia laborum</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
                      <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
                   </div>
                  </div>
           
     </div>
   
     
   </div>

   <div class="d-flex justify-content-center">


      <div class="row mt-3 ">
     
     <div class="col-md-4">
       <div class="card card-body" style="width: 18rem">
         <img class="card-img-top answer-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMYy8eH-Pdc7gUcl7L7_ZoNBCYPqR_Cc7skBk1c0eRi5cNPo0TsA">
           <h4 class="card-title">Stand Alone Article</h4>
           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
           <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
        </div>
       </div>
     
     
       <div class="col-md-4">
           <div class="card card-body" style="width: 18rem">
             <img class="card-img-top answer-img" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrZkVD7YQh9qDRl0wHKU6iKT68SbyE1FyG5Xlkmw4SIdiijw4v">
               <h4 class="card-title">MDL Website</h4>
               <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
               <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
            </div>
           </div>
     
           <div class="col-md-4">
               <div class="card card-body" style="width: 18rem">
                 <img class="card-img-top answer-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYNq1VFFwNC8K2fVvJKXQtO-Z-EcLwnWBiN1k8m1FVksvivNJj">
                   <h4 class="card-title">Consequat ut quis</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante..</p>
                   <a class="card-footer" href="#" class="btn btn-primary">Read More</a>
                </div>
               </div>
             
       </div>
     
       
     </div>

     <footer class="page-footer font-small cyan darken-3 mt-3">
       <div class="page-footer">
       <span class="float-left">Simple portfolio website</span>
       <ul class="float-right">
         <li>
           Help
         </li>
         <li>
           Privacy & Terms
           <!-- https://staging-reader.pagewerkz.com/#/stgbl-cw1/login -->
         </li>
       </ul>
      </div>
     </footer>

     
