.row{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.figure-caption{
    text-align: center;
    
  }
  nav{
    background:#ff6e7f;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
  .pic{
    justify-content: center;
  }
  .answer-img{
    height: 200px;
    width:250px;
    
  }

.supporting{
  font-size: 1em;
  line-height: 18px;
}
.img-width{
  width: 100%;
  height: auto;
}
.margin{
  margin:float-right;
  margin-right: 0px;
}
.card-body{
  padding: 0px;
}
p {
  font-size: 1em;
  letter-spacing: 0;
  margin: 0 0 16px;
  /* text-align: center; */
}
ul {
  list-style-type: none;
  /* margin-top: 11em; */
  display: flex;
  flex-direction: row;
}
a{
    text-decoration: none;
    color: red;
}

li {
  margin: 5em;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
}
.port{
  justify-content: center;
}

.page-footer{
  padding: 20px 16px;
  color: white;
  background-color: darkgrey;
  
}