.row{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
 
ul {
    list-style-type: none;
    /* margin-top: 11em; */
    display: flex;
    flex-direction: row;
  }
  a{
      text-decoration: none;
      color: red;
  }

  li {
    margin: 5em;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
  }
  .figure-caption{
    text-align: center;
    
  }
  nav{
    background:#ff6e7f;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
 
 /* .card{
   border:2px solid lightblue;
 } */
 
 .pic{
   justify-content: center;
 }
 .port{
   justify-content: center;
 }
 .answer-img{
   height: 200px;
 }
 
 footer{
    padding: 50px 16px;
    color: white;
    background-color: darkgrey;
    
 }
 .card-body{
   padding: 0px;
 }
 .img-width{
   width: 100%;
   height: auto;
 }
 h3 h4{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
 }
 .padd{
   margin-left: 50px;
 }