<nav class="navbar navbar-fixed-top navbar-light pic">
  <div class="row">
<figure class="figure">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL7qzo85SQyiD0ZUz_ZLPi0zATBg9D3S3Yf46XscZxpTJ-bsxOw" alt="logo" class="figure-img img-fluid">
  <figcaption class="figure-caption">simple portfolio website</figcaption>
</figure>
</div>
</nav>

<nav class="navbar port">
  <div class="row">
    <!-- <img class="navbar-brand" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL7qzo85SQyiD0ZUz_ZLPi0zATBg9D3S3Yf46XscZxpTJ-bsxOw" alt="logo"> -->
    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="#" routerLink="/view" class="nav-link">PORTFOLIO</a></li>
      <li class="nav-item"><a href="#" routerLink="/blog" class="nav-link">BLOG</a></li>
      <li class="nav-item"><a href="#" routerLink="/about" class="nav-link">ABOUT</a></li>
      <li class="nav-item"><a href="#"  routerLink="/contact" class="nav-link">CONTACT</a></li>
    </ul>
  </div>
</nav>


<div class="d-flex justify-content-center">
  <div class="row mt-5" style="max-width:700px">
  <div class="card">
      <div class="card-body">
    <div class="card-title">
      <h4>About</h4>
        <img src="https://getmdl.io/templates/portfolio/images/about-header.jpg" class="img-width">
       <div class="padd">
        <h3>Introduction</h3>
        <p>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.</p>
        <h4>Irure mollit est sit labore</h4>
        <p>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>


<footer class="page-footer font-small cyan darken-3 mt-3">
    <div class="page-footer">
    <span class="float-left">Simple portfolio website</span>
    <ul class="float-right">
      <li>
        Help
      </li>
      <li>
        Privacy & Terms
        <!-- https://staging-reader.pagewerkz.com/#/stgbl-cw1/login -->
      </li>
    </ul>
   </div>
  </footer>
